/node_modules
/public/storage
/storage/*.key
.env
.env.*   
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/storage/telescope
/storage/debugbar
.idea
*.sublime-project
*.sublime-workspace
*.code-workspace
.vscode
.DS_Store
Thumbs.db
