.alert-primary {
    background-color: hsl(214, 84%, 56%);
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

.alert-danger {
    background-color: hsl(0, 70%, 64%);
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}